.initial{
  border: 3px solid black;
  margin: 0 auto;
  width: 500px;
  height: 300px;
  text-align: center;
  margin-top: 5%;
  background-color: darkgray;
  color: black;
  border-radius: 5%;
}

h1{
  color: black;
  text-shadow: 2px 2px 4px white;
}

body{
  background-image: url("../img/back1.png") ;
  margin: 0;
}

.submit{
  border-radius: 6px;
  background-color: chartreuse;
  font-size: 18px;
  padding: 14px 40px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
}

td{
  text-align: center;
  background-color: cornsilk;
}

th{
  background-color: darkgray;
}

select {
  text-indent: 10px;
  height: 40px;
  width: 50%;
  text-align: center;
  text-align-last: center;
}

.pokemon{
  margin:0 auto;
  margin-top: 1%;
  background-color: rgb(51, 170, 51, .4);
  width: 50%;
  height: 300px;
}

.back{
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10%;
}

.buttonBack{
  width: 10%;
  margin:0 auto;
}

footer{
  color: black;
  text-align: center;
}